mainmenu "RT-Thread Configuration"

config $BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config $RTT_DIR
    string
    option env="RTT_ROOT"
    default "../.."
    
# you can change the RTT_ROOT default "../.." to your rtthread_root,
# example : default "F:/git_repositories/rt-thread"

config $PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"
    
config $ENV_DIR
    string
    option env="ENV_ROOT"
    default "/"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$ENV_DIR/tools/scripts/cmds/Kconfig"

choice
    prompt "Device type"
    default SOC_W600-A8xx
    config SOC_W600_A8xx
        bool "W600-A8xx"
    config SOC_W601_A8xx
        bool "W601-A8xx"
endchoice 

config RT_USING_UART0
    bool "Using RT_USING_UART0"
    default y

config RT_USING_UART1
    bool "Using RT_USING_UART1"
    default n