mainmenu "RT-Thread Configuration"

config $BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config $RTT_DIR
    string
    option env="RTT_ROOT"
    default "../.."
    
# you can change the RTT_ROOT default "../.." to your rtthread_root,
# example : default "F:/git_repositories/rt-thread"

config $PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"
    
config $ENV_DIR
    string
    option env="ENV_ROOT"
    default "/"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$ENV_DIR/tools/scripts/cmds/Kconfig"

menu "W60x Device config"
choice
    prompt "Device type"
    default SOC_W600-A8xx
    config SOC_W600_A8xx
        bool "W600-A8xx"
    config SOC_W601_A8xx
        bool "W601-A8xx"
endchoice

if  RT_USING_HWTIMER
    menu "HW Timers Config"
        config USING_HW_TIMER1
            bool "USING_HW_TIMER1"
        config USING_HW_TIMER2
            bool "USING_HW_TIMER2"
        config USING_HW_TIMER3
            bool "USING_HW_TIMER3"
        config USING_HW_TIMER4
            bool "USING_HW_TIMER4"
        config USING_HW_TIMER5
            bool "USING_HW_TIMER5"
    endmenu
endif

if RT_USING_PWM
    menu "PWM Channel Config"
        config USING_PWM_CH1
            bool "Enable pwm channel 1"
            default n
            if USING_PWM_CH1
                config WM_PWM_CH1_PIN
                int "wm pwm channel 1 pin number"
                default 0
            endif
        config USING_PWM_CH2
            bool "Enable pwm channel 2"
            default n
            if USING_PWM_CH2
                config WM_PWM_CH2_PIN
                int "wm pwm channel 2 pin number"
                default 0
            endif
        config USING_PWM_CH3
            bool "Enable pwm channel 3"
            default n
            if USING_PWM_CH3
                config WM_PWM_CH3_PIN
                int "wm pwm channel 3 pin number"
                default 0
            endif
        config USING_PWM_CH4
            bool "Enable pwm channel 4"
            default n
            if USING_PWM_CH4
                config WM_PWM_CH4_PIN
                int "wm pwm channel 4 pin number"
                default 0
            endif
        config USING_PWM_CH5
            bool "Enable pwm channel 5"
            default n
            if USING_PWM_CH5
                config WM_PWM_CH5_PIN
                int "wm pwm channel 5 pin number"
                default 0
            endif
    endmenu
endif
endmenu

config RT_USING_UART0
    bool "Using RT_USING_UART0"
    default y

config RT_USING_UART1
    bool "Using RT_USING_UART1"
    default n